* {
    font-family: 'Roboto', sans-serif;
}

.popup-container {
    background-color: #000000b8;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    width: 500px;
    height: 500px;
    padding: 30px;
    border-radius: 5px;
}

header {
    height: 100px;
    padding: 40px;
}

header > div {
    display: flex;
    justify-content: space-between;
}

.Fixed-container a {
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

.Fixed-container a:hover {
    color: coral;
    text-decoration: underline;
}

.first-block {
    height: 300px;
    margin: 5px;
}

.services {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.services img {
    height: 150px;
}

.services > div {
    width: 200px;
}

.Fixed-container h2, .Fixed-container p{
    width: 50%;
}

.first-block > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../img/man.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.Fixed-container, .footer-menu {
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    padding: 40px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu > .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.menu > a {
    padding: 5px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

.menu > a:hover {
    color: coral;
    text-decoration: underline;
}

.links > a {
    padding: 0 10px 0 0;
}

.links img {
    height: 20px;
}

section {
    padding: 20px 0;
}

.button {
    background-color: azure;
    border-radius: 5px;
    border: 1px solid black;
}
